.container{
    @include breakpoint(mobile){
        padding: 0;
        max-width: 90%;
        margin: 10px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    @include breakpoint(tablet){
        padding: 0;
        max-width: 90%;
        margin: 40px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    @include breakpoint(desktop){
        padding: 0;
        max-width: 90%;
        margin: 50px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}