{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block page_content %}
<div class="container_game">
    <h1 class="tittle">Juego del ahorcado</h1>
    {% if attempts == 1 %}
    <img src="/game/attemps/1.png" alt="1" width="200px">
    {% elif attempts == 2 %}
    <img src="/game/attemps/2.png" alt="1" width="200px">
    {% elif attempts == 3 %}
    <img src="/game/attemps/3.png" alt="1" width="200px">
    {% elif attempts == 4 %}
    <img src="/game/attemps/4.png" alt="1" width="200px">
    {% elif attempts == 5 %}
    <img src="/game/attemps/5.png" alt="1" width="200px">
    {% elif attempts == 6 %}
    <img src="/game/attemps/6.png" alt="1" width="200px">
    {% elif attempts == 7 %}
    <img src="/game/attemps/7.png" alt="1" width="200px">
    {% elif attempts == 8 %}
    <img src="/game/attemps/8.png" alt="1" width="200px">
    {% elif attempts == 9 %}
    <img src="/game/attemps/9.png" alt="1" width="200px">
    {% elif attempts == 10 %}
    <img src="/game/attemps/10.png" alt="1" width="200px">
    {% elif attempts == 11 %}
    <img src="/game/attemps/11.png" alt="1" width="200px">
    {% elif attempts == 12 %}
    <img src="/game/attemps/12.png" alt="1" width="200px">
    {% endif %}
    <p  class="attemps">Attempts: {{ attempts }} / {{ max_attempts }}</p>
    <h2 class="word">{{ word_display|join:" " }}</h2>
    <!-- <h3>{{ word }}</h3> -->

    {% if game_over %}
        {% if won %}
            <div class="alert alert-success">Ganaste! 🎉</div>
        {% else %}
            <div class="alert alert-danger">Perdiste. Volver a jugar!</div>
            <div class="word-played">La palabra era: {{ word }}</div>
        {% endif %}
        <a href="{% url 'game:reiniciar' %}" class="btn btn-primary">Volver a jugar</a>
    {% else %}
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <h3>Letras utilizadas:</h3>
            <div>{{ guessed_letters|join:" " }}</div>
            <button type="submit" class="btn btn-guess">Adivina</button>
            <a href="{% url 'game:reiniciar' %}" class="btn btn-secundary">Cambiar palabra</a>
        </form>
    {% endif %}
</div>
{% endblock %}
