{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block page_content %}
<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
<p class="mode">Modo español <a class="back-button" href="{% url 'game:language' %}">Regresar a lenguaje</a></p>
<div class="container_game">
    <section class="game">
    <h1 class="title">Ahorcado</h1>
    {% if intentos == 1 %}
    <img src="/game/attemps/1.png" alt="1" width="200px">
    {% elif intentos == 2 %}
    <img src="/game/attemps/2.png" alt="1" width="200px">
    {% elif intentos == 3 %}
    <img src="/game/attemps/3.png" alt="1" width="200px">
    {% elif intentos == 4 %}
    <img src="/game/attemps/4.png" alt="1" width="200px">
    {% elif intentos == 5 %}
    <img src="/game/attemps/5.png" alt="1" width="200px">
    {% elif intentos == 6 %}
    <img src="/game/attemps/6.png" alt="1" width="200px">
    {% elif intentos == 7 %}
    <img src="/game/attemps/7.png" alt="1" width="200px">
    {% elif intentos == 8 %}
    <img src="/game/attemps/8.png" alt="1" width="200px">
    {% elif intentos == 9 %}
    <img src="/game/attemps/9.png" alt="1" width="200px">
    {% elif intentos == 10 %}
    <img src="/game/attemps/10.png" alt="1" width="200px">
    {% elif intentos == 11 %}
    <img src="/game/attemps/11.png" alt="1" width="200px">
    {% elif intentos == 12 %}
    <img src="/game/attemps/12.png" alt="1" width="200px">
    {% endif %}
    <p  class="attemps">Intentos: {{ intentos }} / {{ max_intentos }}</p>
    <h3 class="word">{{ mostrar_palabra|join:" " }}</h3>
    <p>{{ palabra }}</p>
    {% if fin_juego %}
        {% if gano %}
        <script>
            confetti({
                particleCount: 150,
                spread: 70,
                origin: { y: 0.6 }
            });
        </script>
        {% else %}
            <div class="alert alert-danger">Perdiste. Volver a jugar!</div>
            <div class="word-played">La palabra era: {{ palabra }}</div>
        {% endif %}
        <a href="{% url 'game:reiniciar' %}" class="btn btn-primary">Volver a jugar</a>
    {% else %}
        <form method="post" autocomplete="off">
            {% csrf_token %}
            {{ formulario|crispy }}
            <h4>Letras utilizadas: {{ letras_adivinadas|join:" " }}</h4>
            <div class="buttons">
                <button type="submit" class="btn btn-guess">Adivina</button>
                <a href="{% url 'game:reiniciar' %}" class="btn btn-secundary">Cambiar</a>
            </div>  
        </form>
    </section>
    <section class="stats">
        <h1 class="title">Datos</h1>
        <h2>Usuario: {{ request.user }}</h2>
        <p>Games: {{juegos_jugados}}</p>
        <p>Victories: {{ victorias }}</p>  
    </section>
    {% endif %}
</div>
{% endblock %}
