.buttons{
    @include reset-button;
    margin-top: 25px;
    display: inline-flex;
    gap: 10%;
    text-align: center;
    
}

.btn-guess{
    color: $--secundary-color;
    padding: 10px;
    border-radius: 20px;
    background-color: #cd5b32;
    
    &:hover{
        background-color:$--tertiary-color;
    }
}

.btn-secundary{
  color: $--secundary-color;
  padding: 10px;
  border-radius: 20px;
  background-color: #cd5b32;

  &:hover{
      background-color:$--tertiary-color;
  }
}

.back-button{
  color: $--secundary-color;
  padding: 10px;
  border-radius: 20px;
  background-color: #cd5b32;
 
  
  &:hover{
      background-color:$--tertiary-color;
  }

}

.mode{
  text-align: left;
  margin-top: 25px;
}