/*devices*/
$bp-mobile: 375px;
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;


/*colors*/
$--primary-color:  #ffcd71;
$--secundary-color: #76271b;
$--tertiary-color:#ff8c52;




/*Typography*/
$--primary-font:"Poppins", sans-serif; 


/*font-size mobile*/
$--font-size-primary: 16px;
$--font-size-primary-button: 70px;
$--font-size-secondary-button: 32px;

